// Base

$color1: #313131;
$color2: #11999e;
$color3: #525252;
$color4: #ec625f;

@mixin font($font, $fontSize, $fontColor, $fontWeight){
  font-family: $font;
  font-size: $fontSize;
  color: $fontColor;
  font-weight: $fontWeight;
}

body{
  margin: 0;
  background-color: $color1;
}

// ERROR MESSAGE

p.errormessage{
  text-align: center;
  margin-top: 10%;
  @include font(Amatic SC, 20px, $color2, 400);
}

// HEADER

header nav{
  background-color: $color4;
  box-shadow: 0 10px 10px #1F1F1F;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// logo
header nav a{
  text-decoration: none;
}

header nav a h1{
  margin: 0;
  @include font(Amatic SC, 22px, $color1, 700);
  line-height: 20px;
  padding: 11px;
  transition: .5s;
}

// menu
header nav ul{
  padding: 0;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

header nav ul a li{
  list-style: none;
  margin-left: 40px;
  @include font(Amatic SC, 22px, $color1, 700);
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: 1s;
}

header nav ul li:after {
  content: '';
  display: block;
  margin: 1px auto;
  height: 1px;
  width: 0;
  transition: width .5s ease, background-color .5s ease;
}

header nav ul li:hover:after {
  width: 100%;
  background: white;
}

// CV

.cv .header{
  width: 100%;
  height: 70vh;
  background-image: url(gallery/trucsquichangentpas/fondHeaderCV.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.cv .header h3{
  margin: 0;
  padding: 60px 0 0 80px;
  @include font(Roboto, 40px, white, 700);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.cv .compettitle{
  @include font(Amatic SC, 40px, $color4, 500);
  text-align: center;
}

.cv .competences{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.cv .competences article{
  width: 29%;
  border: solid 3px $color3;
  border-radius: 20px;
}

.cv .competences article span.splog{
  background-color: $color3;
  width: 100%;
  display: block;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}

.cv .competences article span.splog img{
  display: block;
  height: 70px;
  margin: auto;
}

.cv .competences article h3{
  @include font(Amatic SC, 28px, $color4, 700);
  text-align: center;
}

// .cv .competences article p.competext{
//
// }

.cv .competences article p.competext{
  @include font(Roboto, 15px, white, 500);
  padding: 12px;
}

.cv .competences article p.competext.show{
  letter-spacing: 1px;
  line-height: 20px;
  min-height: 210px;
}

.cv .competences article p.competext.hide{
  font-size: 0px;
  opacity: 0;
  transition: 1s;
  height: 0;
}

.cv .competences article:hover > p.hide{
  opacity: 1;
  font-size: 15px;
  transition: 1s;
  height: 205px;
}

.cv .competences span.spcar{
  width: 100%;
  display: block;
  padding: 10px 0;
}

.cv .competences span.spcar img.caret{
  display: block;
  margin: auto;
  animation: bounce 3s ease infinite;
}

@keyframes bounce{
  0% {transform: translateY(0);}
  20% {transform: translateY(15px);}
  40% {transform: translateY(0);}
  100% {transform: translateY(0);}
}

.cv .tags{
  @extend .header;
}

.cv .tags h2{
  width: 45%;
  text-align: center;
  @include font(Roboto, 26px, white, 700);
  padding-top: 70px;
}

.cv .aboutme{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cv .aboutme p{
  width: 60%;
  padding: 40px;
  @include font(Roboto, 20px, $color4, 500);
  line-height: 30px;
  text-align: justify;
}

.cv .aboutme h6{
  @include font(Roboto, 70px, white, 700);
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.cv .contact{
  background: $color3;
  @extend .aboutme;
  padding: 40px 0;
}

.cv .contact p{
  @include font(Roboto, 70px, white, 700);
  text-transform: uppercase;
  line-height: 80px;
}

.cv .contact form{
  margin-right: 160px;
}

.cv .contact form input{
  background-color: transparent;
  padding: 10px 20px;
  border: solid $color4 1px;
  border-radius: 30px;
  @include font(Roboto, 18px, $color4, 500);
  margin: 10px 0;
  float: right;
}

.cv .contact form textarea{
  width: 418px;
  background-color: transparent;
  border: solid $color4 1px;
  border-radius: 20px 20px 0 0;
  @include font(Roboto, 18px, $color4, 500);
  margin-top: 10px;
  padding: 10px;
  resize: none;
  display: inline-block;
}

.cv .contact form button{
  background-color: $color4;
  border: transparent;
  margin: 0;
  width: 440px;
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
  margin-top: -3px;
  transition: .5s;
}

.cv .contact form button:hover{
  border: solid $color4 1px;
  border-top: transparent;
  background-color: $color3;
  color: $color4;
  transition: .5s;
}

// PORTFOLIO - Onglets

.systeme_onglets{
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 0 10px 10px #1F1F1F;
  border-radius: 0 0 20px 20px;
}

.systeme_onglets span{
  padding: 15px 4px;
  text-align: center;
  @include font(Amatic SC, 25px, white, 700);
}

.onglet{
  display:inline-block;
  cursor:pointer;
  width: 32.223%;
  border-radius: 20px 20px 0 0;
}

.onglet_0{
  background:$color3;
}

.onglet_1{
  background:$color4;
  padding-bottom:4px;
}

.contenu_onglet{
  background-color:$color3;
  display:none;
  border-radius: 0 0 20px 20px;
}

.contenu_onglet .header{
  width: 100%;
  border-top: solid $color4 3px;
}

.contenu_onglet .header h1{
  margin: 0;
  padding: 20px;
  text-align: right;
  @include font(Roboto, 22px, white, 700);
  text-transform: uppercase;
}

.contenu_onglet article{
  padding: 20px;
}

.contenu_onglet article img{
  display: block;
  width: 90%;
  margin: 50px auto;
}

// FOOTER

footer{
  background-color: $color4;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p.mentions{
  margin-left: 20px;
  padding: 10px 20px;
  border: solid $color1 1px;
  border-radius: 30px;
  cursor: pointer;
  @include font(Roboto, 16px, $color1, 500);
  transition: .5s;
}

footer p.mentions:hover, header nav a h1:hover{
  background-color: $color1;
  color: $color4;
  transition: .5s;
}

footer p.signature{
  margin-right: 20px;
  @include font(Roboto, 16px, $color1, 500);
}

// RESPONSIVE

@media screen and (max-width: 960px){
  // HEADER (menu & logo)

  // - Créer un menu hamburger ou réduire les polices et passer sur deux lignes

  // CV
  .cv .competences{
    width: 95%;
  }
  // - Faire en sorte que les articles soient les uns en dessous des autres
  // - Gérer le déroulement grâce à un clic en JQuery, voir script.js
  // - Faire en sorte que les titres passent au dessus des sections
  // - Gérer le textarea et son bouton
  // - Réduire les polices

  // PORTFOLIO

  // - gérer le responsive des onglets
  // - Gérer les marges
  // - Réduire les polices
}
