body {
  margin: 0;
  background-color: #313131; }

p.errormessage {
  text-align: center;
  margin-top: 10%;
  font-family: Amatic SC;
  font-size: 20px;
  color: #11999e;
  font-weight: 400; }

header nav {
  background-color: #ec625f;
  box-shadow: 0 10px 10px #1F1F1F;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

header nav a {
  text-decoration: none; }

header nav a h1 {
  margin: 0;
  font-family: Amatic SC;
  font-size: 22px;
  color: #313131;
  font-weight: 700;
  line-height: 20px;
  padding: 11px;
  transition: .5s; }

header nav ul {
  padding: 0;
  margin-right: 30px;
  display: flex;
  flex-direction: row; }

header nav ul a li {
  list-style: none;
  margin-left: 40px;
  font-family: Amatic SC;
  font-size: 22px;
  color: #313131;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: 1s; }

header nav ul li:after {
  content: '';
  display: block;
  margin: 1px auto;
  height: 1px;
  width: 0;
  transition: width .5s ease, background-color .5s ease; }

header nav ul li:hover:after {
  width: 100%;
  background: white; }

.cv .header, .cv .tags {
  width: 100%;
  height: 70vh;
  background-image: url(gallery/trucsquichangentpas/fondHeaderCV.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.cv .header h3, .cv .tags h3 {
  margin: 0;
  padding: 60px 0 0 80px;
  font-family: Roboto;
  font-size: 40px;
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase; }

.cv .compettitle {
  font-family: Amatic SC;
  font-size: 40px;
  color: #ec625f;
  font-weight: 500;
  text-align: center; }

.cv .competences {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px; }

.cv .competences article {
  width: 29%;
  border: solid 3px #525252;
  border-radius: 20px; }

.cv .competences article span.splog {
  background-color: #525252;
  width: 100%;
  display: block;
  padding: 10px 0;
  border-radius: 10px 10px 0 0; }

.cv .competences article span.splog img {
  display: block;
  height: 70px;
  margin: auto; }

.cv .competences article h3 {
  font-family: Amatic SC;
  font-size: 28px;
  color: #ec625f;
  font-weight: 700;
  text-align: center; }

.cv .competences article p.competext {
  font-family: Roboto;
  font-size: 15px;
  color: white;
  font-weight: 500;
  padding: 12px; }

.cv .competences article p.competext.show {
  letter-spacing: 1px;
  line-height: 20px;
  min-height: 210px; }

.cv .competences article p.competext.hide {
  font-size: 0px;
  opacity: 0;
  transition: 1s;
  height: 0; }

.cv .competences article:hover > p.hide {
  opacity: 1;
  font-size: 15px;
  transition: 1s;
  height: 205px; }

.cv .competences span.spcar {
  width: 100%;
  display: block;
  padding: 10px 0; }

.cv .competences span.spcar img.caret {
  display: block;
  margin: auto;
  animation: bounce 3s ease infinite; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(15px); }
  40% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
.cv .tags h2 {
  width: 45%;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  color: white;
  font-weight: 700;
  padding-top: 70px; }

.cv .aboutme, .cv .contact {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.cv .aboutme p, .cv .contact p {
  width: 60%;
  padding: 40px;
  font-family: Roboto;
  font-size: 20px;
  color: #ec625f;
  font-weight: 500;
  line-height: 30px;
  text-align: justify; }

.cv .aboutme h6, .cv .contact h6 {
  font-family: Roboto;
  font-size: 70px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  margin-right: 40px;
  padding: 0; }

.cv .contact {
  background: #525252;
  padding: 40px 0; }

.cv .contact p {
  font-family: Roboto;
  font-size: 70px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px; }

.cv .contact form {
  margin-right: 160px; }

.cv .contact form input {
  background-color: transparent;
  padding: 10px 20px;
  border: solid #ec625f 1px;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 18px;
  color: #ec625f;
  font-weight: 500;
  margin: 10px 0;
  float: right; }

.cv .contact form textarea {
  width: 418px;
  background-color: transparent;
  border: solid #ec625f 1px;
  border-radius: 20px 20px 0 0;
  font-family: Roboto;
  font-size: 18px;
  color: #ec625f;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px;
  resize: none;
  display: inline-block; }

.cv .contact form button {
  background-color: #ec625f;
  border: transparent;
  margin: 0;
  width: 440px;
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
  margin-top: -3px;
  transition: .5s; }

.cv .contact form button:hover {
  border: solid #ec625f 1px;
  border-top: transparent;
  background-color: #525252;
  color: #ec625f;
  transition: .5s; }

.systeme_onglets {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 0 10px 10px #1F1F1F;
  border-radius: 0 0 20px 20px; }

.systeme_onglets span {
  padding: 15px 4px;
  text-align: center;
  font-family: Amatic SC;
  font-size: 25px;
  color: white;
  font-weight: 700; }

.onglet {
  display: inline-block;
  cursor: pointer;
  width: 32.223%;
  border-radius: 20px 20px 0 0; }

.onglet_0 {
  background: #525252; }

.onglet_1 {
  background: #ec625f;
  padding-bottom: 4px; }

.contenu_onglet {
  background-color: #525252;
  display: none;
  border-radius: 0 0 20px 20px; }

.contenu_onglet .header, .contenu_onglet .cv .tags, .cv .contenu_onglet .tags {
  width: 100%;
  border-top: solid #ec625f 3px; }

.contenu_onglet .header h1, .contenu_onglet .cv .tags h1, .cv .contenu_onglet .tags h1 {
  margin: 0;
  padding: 20px;
  text-align: right;
  font-family: Roboto;
  font-size: 22px;
  color: white;
  font-weight: 700;
  text-transform: uppercase; }

.contenu_onglet article {
  padding: 20px; }

.contenu_onglet article img {
  display: block;
  width: 90%;
  margin: 50px auto; }

footer {
  background-color: #ec625f;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

footer p.mentions {
  margin-left: 20px;
  padding: 10px 20px;
  border: solid #313131 1px;
  border-radius: 30px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  color: #313131;
  font-weight: 500;
  transition: .5s; }

footer p.mentions:hover, header nav a h1:hover {
  background-color: #313131;
  color: #ec625f;
  transition: .5s; }

footer p.signature {
  margin-right: 20px;
  font-family: Roboto;
  font-size: 16px;
  color: #313131;
  font-weight: 500; }

@media screen and (max-width: 960px) {
  .cv .competences {
    width: 95%; } }

/*# sourceMappingURL=style.css.map */
